@model List<AbductionViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Abduction</title>
</head>
<body>

    <h2>Abductions</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Abduction Id</th>
                <th>Abduction Date</th>
                <th>Alien Name</th>
                <th>Alien Birth Date</th>
                <th>Human Name</th>
                <th>Human Birth Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AbductionId</td>
                    <td>@item.AbductionDate.ToShortDateString()</td>
                    <td>@item.AlienName</td>
                    <td>@(item.AlienBirthDate.HasValue ? item.AlienBirthDate.Value.ToShortDateString() : "-")</td>
                    <td>@item.HumanName</td>
                    <td>@(item.HumanBirthDate.HasValue ? item.HumanBirthDate.Value.ToShortDateString() : "-")</td>
                </tr>
            }
        </tbody>
    </table>
    @if (User.Identity.IsAuthenticated)
    {
        <ul>
            <li>
                <a asp-action="Find">
                    Find Abducted People
                </a>
            </li>
            <li>
                <a asp-action="FindAlien">
                    Find Alien
                </a>
            </li>
            <li>
                <a asp-action="FindKilledAlien">
                    Find Killed Alien By Abducted Human
                </a>
            </li>
            <li>
                <a asp-action="FindDifferentAliens">
                    Find different Aliens
                </a>
            </li>
            <li>
                <a asp-action="FindAllHumans">
                    Find All Humans
                </a>
            </li>
            <li>
                <a asp-action="AbductionsPerMonth">
                    Abductions Per Month
                </a>
            </li>
        </ul>
    }
   
</body>
</html>
