@model IEnumerable<AlienProject.Models.Spaceshipp>

@{
    ViewData["Title"] = "SpaceShips";
}

<h1>SpaceShips</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpaceshipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaceshipName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpaceshipId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpaceshipName)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SpaceshipId">Edit</a>
                </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Add">Add</a>
<ul>
    <li><a asp-action="FindPeople">Find People</a></li>
    <li><a asp-action="ExperimentsPerShip">Find Experiment</a></li>
</ul>